* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

body {
    background: beige;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}

button {
    padding: 10px;
    border: 2px solid black;
    background: #333;
    color: white;
    font-size: 18px;
    font-family: inherit;
}

#display {
    font-family: monospace;
    background: black;
    color: white;
    text-align: right;
    padding: 20px;
    font-size: 32px;
    margin-bottom: 20px;
}

#calculator {
    width: 320px;
}

.equal-button {
    grid-column: span 2;
}